# Pandas

In [16]:
import numpy as np
import pandas as pd

In [17]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 0. Создать датафрейм.

In [67]:
a = pd.DataFrame(data)

#### 1. Вывести информацию о датафрейме.

In [19]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

#### 2. Вернуть первые 3 строки DataFrame `df`.

In [5]:
a.head(3)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no

#### 3. Выберите только столбцы 'animal' и 'age' из DataFrame `df`.

In [7]:
a[['animal', 'age']]

  animal  age
0    cat  2.5
1    cat  3.0
2  snake  0.5
3    dog  NaN
4    dog  5.0
5    cat  2.0
6  snake  4.5
7    cat  NaN
8    dog  7.0
9    dog  3.0

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['animal', 'age']`.

In [24]:
a.loc[[3, 4, 8], ['animal', 'age']]

  animal  age
3    dog  NaN
4    dog  5.0
8    dog  7.0

#### 5. Выберите строки где количество посещений больше 3.

In [28]:
a.loc[a['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

#### 6. Выберите строки, в которых отсутствует возраст.

In [29]:
a[a['age'].isna()]

  animal  age  visits priority
3    dog  NaN       3      yes
7    cat  NaN       1      yes

#### 7. Выберите строки, в которых животное является кошкой * и * возраст составляет менее 3 лет.

In [31]:
a[(a['animal'] == 'cat') & (a['age'] < 3)]

  animal  age  visits priority
0    cat  2.5       1      yes
5    cat  2.0       3       no

#### 8. Выберите строки в которых возраст от 2 до 4 (включительно).

In [32]:
a[(a['age'] >= 2) & (a['age'] <= 4)]

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
5    cat  2.0       3       no
9    dog  3.0       1       no

#### 9. Измените возраст в строке 'f' на 1,5.

In [38]:
f = 2
a.loc[f, 'age'] = 1.5
a

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  1.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

#### 10. Рассчитать общее количество всех посещений.

In [39]:
sum(a['visits'])

19

#### 11. Расчитайте суммарный возраст животных

In [41]:
sum(a['age'][a['age'].isna() == False])

28.5

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

In [45]:
k = pd.Series({'animal': 'Turtle', 'age': 3, 'visits': 1, 'priority': 'yes'})
a.append(k, ignore_index=True)

    animal  age  visits priority
0      cat  2.5       1      yes
1      cat  3.0       3      yes
2    snake  1.5       2       no
3      dog  NaN       3      yes
4      dog  5.0       2       no
5      cat  2.0       3       no
6    snake  4.5       1       no
7      cat  NaN       1      yes
8      dog  7.0       2       no
9      dog  3.0       1       no
10  Turtle  3.0       1      yes

#### 13. Подсчитайте количество животных каждого типа в `df`.

In [47]:
a['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

#### 14. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

In [50]:
a.sort_values(by=['age', 'visits'], ascending=[True, True])

  animal  age  visits priority
2  snake  1.5       2       no
5    cat  2.0       3       no
0    cat  2.5       1      yes
9    dog  3.0       1       no
1    cat  3.0       3      yes
6  snake  4.5       1       no
4    dog  5.0       2       no
8    dog  7.0       2       no
7    cat  NaN       1      yes
3    dog  NaN       3      yes

#### 15. В столбце приоритет замените значения на `Yes` и `No`

In [64]:
a[a['priority'] == 'yes']['priority'] = 'no'

#### 16. В столбце «animal» измените записи «snake» на «python».

In [69]:
a['animal'][a['animal'] == 'snake'] = 'python'
a

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   animal  age  visits priority
0     cat  2.5       1      yes
1     cat  3.0       3      yes
2  python  0.5       2       no
3     dog  NaN       3      yes
4     dog  5.0       2       no
5     cat  2.0       3       no
6  python  4.5       1       no
7     cat  NaN       1      yes
8     dog  7.0       2       no
9     dog  3.0       1       no

#### 17. Удалите все повторения строк из таблицы
```python
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

In [73]:
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.drop_duplicates()

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

#### 20. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

In [81]:
df = pd.DataFrame(np.random.random(size = (5, 10)), columns = [i for i in 'abcdefghij'])

In [82]:
df

          a         b         c  ...         h         i         j
0  0.572687  0.296833  0.363972  ...  0.305511  0.721280  0.336969
1  0.877871  0.720087  0.842810  ...  0.430003  0.966662  0.842156
2  0.247348  0.070374  0.519915  ...  0.486606  0.024973  0.971451
3  0.666521  0.296440  0.088363  ...  0.713228  0.979259  0.143223
4  0.558701  0.866239  0.133197  ...  0.859550  0.781431  0.458089

[5 rows x 10 columns]

In [87]:
df.sum(axis=0).sort_values(ascending=False).head(1)

i    3.473604
dtype: float64

#### 21. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

In [88]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})

In [89]:
df

   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0

In [91]:
values = {'value': np.mean(df['value'])}
df.fillna(value=values)

   group     value
0      a  1.000000
1      a  2.000000
2      b  3.000000
3      b  3.333333
4      a  2.000000
5      b  3.000000
6      b  3.333333
7      b  1.000000
8      a  7.000000
9      b  3.000000
10     a  3.333333
11     b  8.000000

#### 22. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

In [134]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

In [135]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [136]:
df2 = pd.DataFrame(df.From_To.str.lower().str.split('_').tolist(),
                                 columns = ['From','To'])

In [137]:
df = pd.concat([df, df2], axis=1)
df.drop(columns="From_To", inplace=True)

In [138]:
df

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    london      paris
1           NaN            []    <Air France> (12)    madrid      milan
2       10065.0  [24, 43, 87]  (British Airways. )    london  stockholm
3           NaN          [13]       12. Air France  budapest      paris
4       10085.0      [67, 32]          "Swiss Air"  brussels     london